<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!--    <meta charset="UTF-8">-->
    <title>About</title>
</head>
<body>
<h1>About</h1>

<div style="width: 300px;">Our computer Shop will sell you the highest quality parts and products at the
cheapest price guaranteed! Make a gaming PC, or just a normal high convenience PC
    get work done. Whatever your tech needs are we have you covered.
</div>
</br>

<a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>
</html>